<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name= "viewport" content= "width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <title>{{ site.title }} | {{ page.title }}</title>
</head>

<style>
        .default-h1 h1{
            text-align: center;
            margin-bottom: 2rem;
        }   
        .default-p p{
            text-align: center;
            margin-bottom: 2rem;
        }
    
</style>
    
<body>
    
    <header>
        {% include header.html %}
    </header>
    
    {% include sidebar.html %}

    <div class="default-h1">
        <h1> My Design Projects </h1>        
    </div>
    
    <div class= "default-p">
        {{ content }}
    </div>

</body>
</html>
