<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <title>{{ site.title }} | {{ page.title }}</title>
</head>

<style>
        .default-description p{
            position: relative;
            width: 600px;
            left: 440px;
        }    

        h1 {
            text-align: center;
            margin-bottom: 2rem;
            position: relative;
            width: 600px;
            left: 440px;
        }
    
</style>
    
<body>

    {% include sidebar.html %}

    <h1> My Design Projects </h1>
    
    {{ content }}


</body>
</html>
