@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.logo-box:after {
    position: absolute;
    left: 281px;
    top: 0px;
    content: '';
    border-bottom: 70px solid white;
    border-left: 39px solid transparent;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

.section-title {
    font-size: 2em;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
}

section {
    margin: 50px 50px;
}

header.flex-container {
    border: 1px solid black;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.body-copy {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    border-top: 5px solid black;
}

code {
    background-color: black;
    color: greenyellow;
    padding: 15px;
    line-height: 42px;
}
